body {
  margin: 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  background-color: #DEDBE0;
}

h1 {
  margin-top: 0;
}

hr {
  width: 10%;
  border: 10px dotted;
  border-style: none none dotted;
  color: grey
}

.title{
  background-color: #3F3842;
  position: relative;
  text-align: center;
  color: #27242b;
}

.background {
  opacity: 0.9;
}

.first {
  position: absolute;
  top: 150px;
  left: 360px;
  font-size: 40px;
}
.second {
  position: absolute;
  top: 200px;
  left: 400px;
  font-size: 20px;
}
.third {
  position: absolute;
  top: 250px;
  left: 405px;
  font-size: 20px;
}

.brief {
  font-size: 25px;
}

.footer {
  font-size: 30px;
  padding: 50px;
}
.hobbies {
  padding-right: 100px;
}
